<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleGetInfoString</key>
	<string>1.2 Copyright © 2020 bayard1965. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>fr.bayard1965.PolarisBoost</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PolarisBoost</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>PolarisBoost_WX41xx_Max</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x67EF1002 0x67E01002 0x67E81002 0x67DF1002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ATY,EFIVersionB</key>
				<string>PolarisBoost_WX41xx</string>
				<key>CFG,CFG_FORCEMAXDPM</key>
				<true/>
				<key>CFG,CFG_FORCE_MAX_DPS</key>
				<true/>
				<key>CFG,CFG_PTPL2_TBL</key>
				<data>
				ggAAAHwAAAB2AAAAcAAAAGoAAABkAAAAXgAAAFgAAABS
				AAAATAAAAEYAAABAAAAAOgAAADQAAAAuAAAAKAAAAA==
				</data>
				<key>PP,PP_EnableLoadFalconSmcFirmware</key>
				<integer>1</integer>
				<key>PP,PP_Falcon_QuickTransition_Enable</key>
				<integer>1</integer>
				<key>PP,PP_WorkLoadPolicyMask</key>
				<integer>16</integer>
			</dict>
		</dict>
		<key>PolarisBoost_WX7100</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x67C01002 0x67C41002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ATY,EFIVersionB</key>
				<string>PolarisBoost_WX7100</string>
				<key>CFG,CFG_PTPL2_TBL</key>
				<data>
				ggAAAHwAAAB2AAAAcAAAAGoAAABkAAAAXgAAAFgAAABS
				AAAATAAAAEYAAABAAAAAOgAAADQAAAAuAAAAKAAAAA==
				</data>
				<key>PP,PP_EnableLoadFalconSmcFirmware</key>
				<integer>1</integer>
				<key>PP,PP_Falcon_QuickTransition_Enable</key>
				<integer>1</integer>
				<key>PP,PP_WorkLoadPolicyMask</key>
				<integer>16</integer>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>15.3</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.3</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.3</string>
		<key>com.apple.kpi.mach</key>
		<string>15.3</string>
		<key>com.apple.kpi.unsupported</key>
		<string>15.3</string>
	</dict>
</dict>
</plist>
